* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  /* overflow-x: hidden; */
}

body {
  font-family: "Roboto", sans-serif;
  background-color: rgb(17, 16, 16);
  color: white;
}
/* 
.container {
  min-height: 100%;
  background: transparent;
} */

nav {
  display: flex;
  justify-content: space-around;
  padding: 22px;
  align-items: center;
  background-color: rgba(17, 16, 16);
  position: fixed;
  top: 0%;
  width: 100%;
}

ul {
  display: flex;
}

ul li {
  list-style: none;
}

ul li a {
  text-decoration: none;
  color: white;
  font-size: 19px;
  margin-inline: 22px;
}

ul li a:hover {
  color: rgb(0, 149, 255);
  border-bottom: 2px solid rgb(0, 149, 255);
}
#bar {
  display: none;
}
.logo a {
  font-size: 22px;
  text-decoration: none;
  color: white;
  font-size: 40px;
}
.logo span {
  color: rgba(0, 0, 255, 0.578);
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 55px;
}
.mainText {
  /* margin-right: 160px; */
}
.mainText h1 {
  font-size: 100px;
}

.mainText p {
  font-size: 30px;
}
.mainText h1 span {
  color: rgb(0, 132, 255);
}
.mainText h3 {
  font-size: 28px;
}
.main img {
  height: 600px;
}
/* .mainText button {
  width: 140px;
  height: 40px;
  background-color: rgb(0, 157, 255);
  font-size: 19px;
  border: none;
  color: white;
} */
.form-actions {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-top: 22px;
}
.form-actions button {
  width: 140px;
  height: 40px;
  background-color: rgb(0, 157, 255);
  font-size: 19px;
  border: none;
  color: black;
  cursor: pointer;
}
.form-actions button:hover {
  border: 2px solid rgb(0, 149, 255);
  background-color: transparent;
  cursor: pointer;
  color: white;
}

.socialLinks {
  display: flex;
  gap: 20px;
}

.socialLinks a {
  font-size: 24px;
  color: rgb(0, 174, 255);
  text-decoration: none;
  transition: color 0.3s;
  font-size: 40px;
}

.socialLinks a:hover {
  color: black;
}

#submit:hover {
  background-color: gray;
  color: black;
}

/* 
button:hover {
  border: 2px solid rgb(0, 149, 255);
  background-color: transparent;
  cursor: pointer;
} */

.head {
  text-align: center;
  padding: 80px;
}
.head span {
  color: rgb(0, 149, 255);
}
.about {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgb(28, 28, 28);
  padding: 52px;
}

.about img {
  width: 390px;
  border-radius: 50%;
  border: 4px solid rgb(0, 85, 255);
  margin-inline: 65px;
  margin-right: 129px;
}
.aboutText {
  margin-top: 99px;
}
.aboutText p {
  margin-top: 22px;
}

.aboutText h2 span {
  color: rgb(0, 140, 255);
}
.aboutText p {
  color: rgb(136, 136, 136);
}
.aboutText h2 {
  font-size: 30px;
}
.service {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 250px;
  padding: 33px;
  background-color: rgb(51, 51, 51);
  margin-inline: 20px;
  border-radius: 5px;
  transition: all 0.3s ease;
  margin-top: 22px;
}
.card:hover {
  transform: scale(1.05);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
  background-color: #272626;
}
.card p {
  margin-top: 11px;
}
.card i {
  font-size: 26px;
}

.myWork {
  margin-left: 50px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.workCard {
  width: 300px;
  height: 220px;
  background-color: #1c1b1b;
  border-radius: 5px;
  margin-inline: 20px;
  padding: 11px;
  transition: all 0.3s ease;
  margin-top: 22px;
  flex-wrap: wrap;
}
.workCard:hover {
  transform: scale(1.05);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
  background-color: #272626;
  z-index: 1000;
}

.workCard img {
  width: 100%;
  /* height: 200px; */
}
.workCard p {
  margin-top: 11px;
}
/* .workCard a {
  text-decoration: none;
  position: absolute;
  margin-top: 20px;
  padding: 6px 12px;
  background-color: rgb(0, 149, 255);
  color: white;
} */

.workCard a {
  display: inline-block;
  margin-top: 20px;
  padding: 6px 12px;
  background-color: rgb(0, 149, 255);
  color: white;
  text-decoration: none;
  border-radius: 3px;
}

.Contact {
  width: 500px;
  padding: 20px;
  background-color: #303030;
  margin: auto;
  border: 2px solid rgb(204, 180, 180);
  border-radius: 2%;
}

.Contact input {
  width: 90%;
  padding: 5px;
  font-size: 17px;
  border: 1px solid white;
  background-color: transparent;
  color: white;
  margin-top: 3px;
  margin-left: 30px;
}

.Contact p {
  margin-top: 20px;
  margin-left: 30px;
}

.Contact button {
  width: 90px;
  height: 35px;
  background-color: rgb(0, 183, 255);
  color: white;
  font-size: 17px;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  margin-left: 190px;
}

/* .skills-section {
  text-align: center;
  padding: 60px 20px;
} */

.head h1 {
  font-size: 3rem;
  margin-bottom: 20px;
  font-family: "Poppins", sans-serif;
}

.head h2 {
  /* font-size: 1.2rem; */
  color: white;
  margin-bottom: 40px;
}

.skills-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
}

.skill-card {
  /* background: #fff; */
  border-radius: 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.237);
  padding: 30px;
  width: 180px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.skill-card img {
  height: 80px;
  object-fit: contain;
  margin-bottom: 15px;
  transition: transform 0.3s ease;
}

.skill-card h3 {
  font-size: 1.4rem;
  color: white;
  margin-top: 10px;
}

.skill-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 20px rgba(0, 123, 255, 0.394);
}

.skill-card:hover img {
  transform: scale(1.4) rotate(5deg);
}

/* 📱 Responsive */
/* @media (max-width: 768px) {
  .skills-container {
    gap: 20px;
  }

  .skill-card {
    width: 140px;
    padding: 20px;
  }

  .head h1 {
    font-size: 2.5rem;
  }
} */

/* Media query */

/* @media screen and (max-width: 1000px) {
  .main {
    display: block;
    text-align: center;
    margin-top: 155px;
  }
} */

/* @media screen and (max-width: 550) {
  .mainText h1 {
    font-size: 36px;
  }
  .mainText h3 {
    font-size: 21px;
  }
  .mainText p {
    font-size: 20px;
  }
} */

/* Tablet */
@media screen and (max-width: 1000px) {
  .main {
    display: block;
    text-align: center;
    margin-top: 150px;
  }

  .mainText {
    margin: auto;
    margin-bottom: 30px;
  }

  .about {
    flex-direction: column;
    align-items: center;
  }

  .about img {
    margin: auto;
  }
}

@media screen and (max-width: 800px) {
  ul {
    display: none;
  }

  #bar {
    display: block;
    font-size: 25px;
    cursor: pointer;
    color: white;
  }
  .showData {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 23px;
    background-color: gray;
    gap: 20px;
    border-radius: 5px;
    position: fixed;
    top: 75px;
    right: 3%;
  }
}

/* Mobile */
@media screen and (max-width: 550px) {
  ul {
    display: none;
  }

  #bar {
    display: block;
    font-size: 25px;
    cursor: pointer;
    color: white;
  }
  .showData {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 23px;
    background-color: gray;
    gap: 20px;
    border-radius: 5px;
    position: fixed;
    top: 75px;
    right: 3%;
  }

  .mainText h1 {
    font-size: 36px;
  }

  .mainText h3 {
    font-size: 21px;
  }

  .mainText p {
    font-size: 20px;
  }

  .service,
  .myWork {
    flex-direction: column;
    align-items: center;
  }

  .card,
  .workCard {
    width: 90%;
  }

  .Contact {
    width: 95%;
    margin-left: 22px;
    padding: 15px;
  }

  .form-actions {
    flex-direction: column;
    gap: 10px;
    margin-left: 0;
  }
}
